html
  head
    title= title
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    script(src='/scripts/scripts.js')
  body
    h1= message
    form(id="person-form")
      input(
        id="person-name"
        type="text"
        name="name"
      )
      input(
        id="person-interests"
        type="text"
        name="interests"
      )
      button(type="submit") Add Person
    div(class="person-list")
      ul
        each person in people
          li
            p= person.name